<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gateway Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'gateway_manager/css/detail.css' %}">
</head>
<body>
    <div class="container">
        <h2 class="page-title">Gateway Detail</h2>
        <div id="gateway-detail-container">
            <!-- Gateway details -->
        </div>

    <button class="back-button" onclick="window.location.href = '/';">back</button>
    </div>
    <script src="{% static 'gateway_manager/js/detail.js' %}"></script>
</body>
</html>
